/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; background-color: #445161;
}

h1{
	font-family: Arial;
	font-size: 20px;
	color: #445161;
}

.p1{font-family: Arial; color: #333333; font-size: 14px; text-align: right;}
.p2{font-family: Arial; color: #333333; font-size: 14px; text-align: left; text-transform: uppercase;}
.p3{font-family: Arial; color: #333333; font-size: 14px; text-align: left; font-style: italic;}
.p4{font-family: Arial; color: #333333; font-size: 14px; text-align: left; text-decoration: underline;}
.p5{font-family: Arial; color: #333333; font-size: 14px; text-align: left; text-align: center;}
.p6{font-family: Arial; color: #333333; font-size: 24px; text-align: left; text-align: left;}
.p7{font-family: Arial; color: #333333; font-size: 14px; text-align: left; text-decoration: line-through;}
.p8{font-family: "Times New Roman"; color: #333333; font-size: 14px; text-align: left;}
.p9{font-family: Arial; color: #333333; font-size: 14px; text-align: left; text-shadow: 1px 1px 1px #333333;}

.wrap {max-width: 1200px; max-height: 800px; margin: 40px auto auto auto; background-color: white; padding: 40px; line-height: 18px;}