@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Lato;
}

.about__body {
  max-width: 823px;
  margin: 0px auto 95px auto;
}
.about__header {
  margin: 0px 0px 65px 0px;
}
.about__title {
  margin: 127px 0px 30px 0px;
}
.about__text {
  max-width: 688px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 25.89px;
  margin: 0px auto;
}
.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}
.about__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
  text-align: center;
  padding: 0px 0px 30px 0px;
}
.title:after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #000;
  margin: 0px 0px 0px -25px;
}

.item-about__icon {
  margin: 0px auto 40px auto;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  border: 2px solid #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-about__title {
  text-align: center;
  color: #000000;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 0px 0px 35px 0px;
}
.item-about__text {
  text-align: center;
  color: #868585;
  line-height: 26px;
  font-weight: 300;
  font-size: 14px;
}

.portfolio {
  background-color: #f3f3f3;
  border: 1px solid #f3f3f3;
}
.portfolio__body {
  margin: 0px auto;
}
.portfolio__header {
  margin: 0px 0px 21px 0px;
}
.portfolio__title {
  margin: 105px 0px 30px 0px;
}
.portfolio__menu {
  max-width: 320px;
  margin: 44px auto;
}
.portfolio__content {
  max-width: 1120px;
  width: 1120px;
  margin: 90px auto 28px auto;
}
.portfolio__cell {
  width: 532px;
  height: 360px;
  background-color: #eaeaea;
  margin: 7px 10px;
  float: left;
}
.portfolio__text {
  max-width: 688px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 25.89px;
  margin: 0px auto;
}
.portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -15px;
}
.portfolio__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}
.portfolio .cls {
  clear: both;
}
.portfolio__button {
  color: #000;
  border: 1px solid #000000;
  margin: 62px auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__menu-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  color: #3c3c3c;
  font-family: Lato;
  font-size: 15px;
  margin: 0 15px 0 0;
}
.menu__menu-item_active {
  color: #ada074;
}

.button {
  width: 180px;
  height: 45px;
  font-family: Lato;
  font-size: 16px;
  text-align: center;
  padding-top: 14px;
}

.parthers {
  min-height: 387px;
  background-image: url("../../img/bg-parthers.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-top: 1px solid #f3f3f3;
}
.parthers__header {
  margin: 100px auto;
  display: block;
}
.parthers__title {
  font-family: Lato;
  font-size: 30px;
  color: #fff;
  text-transform: none;
  letter-spacing: 1.82px;
  font-weight: 300;
}
.parthers__title:after {
  content: none;
}
.parthers__logo {
  width: 645px;
  margin: 75px auto;
  min-height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.parthers__logo-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}
.parthers .logo-item1 {
  background-image: url("../../img/logo2.png");
  background-repeat: no-repeat;
  background-position: center;
}
.parthers .logo-item2 {
  background-image: url("../../img/archiq.png");
  background-repeat: no-repeat;
  background-position: center;
}
.parthers .logo-item3 {
  background-image: url("../../img/thomson.png");
  background-repeat: no-repeat;
  background-position: center;
}
.parthers .logo-item4 {
  background-image: url("../../img/alex.png");
  background-repeat: no-repeat;
  background-position: center;
}