// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

body{
	font-family: Lato;
}

.about {
	&__body {
		max-width: 823px;
		//margin: 0px auto;
		margin: 0px auto 95px auto;

	}
	&__header {
		margin: 0px 0px 65px 0px;
	}
	&__title {
		margin: 127px 0px 30px 0px;
	}
	&__text {
		max-width: 688px;
		color: #868585;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		line-height: 25.89px;
		margin: 0px auto;
	}
	&__row {
		display: flex;
		font-size: 0;
		margin: 0px -15px;
	}
	&__column {
		padding: 0px 15px;
		flex: 0 0 33.333%;
	}
}
.title {
	font-size: 34px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 8.95px;
	position: relative;
	text-align: center;
	padding: 0px 0px 30px 0px;
	&:after{
		content:'';
		position: absolute;
		width: 50px;
		bottom: 0;
		height: 1px;
		left: 50%;
		background-color: #000;
		margin: 0px 0px 0px -25px;
	}
}
.item-about {
	&__icon {
		margin: 0px auto 40px auto;
		border-radius: 50%;
		width: 92px;
		height: 92px;
		border: 2px solid #f1f1f1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__title {
		text-align: center;
		color: #000000;
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 3.52px;
		margin: 0px 0px 35px 0px;
	}
	&__text {
		text-align: center;
		color: #868585;
		line-height: 26px;
		font-weight: 300;
		font-size: 14px;
	}
}


.portfolio {
	background-color: rgb(243,243,243,1.0);
	border: 1px solid rgb(243,243,243,1.0);
	&__body {
		//max-width: 823px;
		margin: 0px auto;
	}
	&__header {
		margin: 0px 0px 21px 0px;
	}
	&__title {
		margin: 105px 0px 30px 0px;
	}

	&__menu {
		max-width: 320px;
		margin: 44px auto;
	}

	&__content {
		max-width: 1120px;
		width: 1120px;
		margin: 90px auto 28px auto;
		//border: 1px solid darkslategray;
	}

	&__cell {
		width: 532px;
		height: 360px;
		background-color: rgb(234,234,234);
		margin: 7px 10px;
		float: left;
	}
	&__text {
		max-width: 688px;
		color: #868585;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		line-height: 25.89px;
		margin: 0px auto;
	}
	&__row {
		display: flex;
		font-size: 0;
		margin: 0px -15px;
	}
	&__column {
		padding: 0px 15px;
		flex: 0 0 33.333%;
	}

	.cls {
		clear: both;
	}

	&__button {
		color: #000;
		border: 1px solid #000000;
		margin: 62px auto;
	}

}

.menu {
	display: flex;
	//border: 1px solid #1d1d1f;
	&__menu-item {
		flex: 0 0 25.0%;
		color: #3c3c3c;
		font-family: Lato;
		font-size: 15px;
		margin: 0 15px 0 0;
		//border: 1px solid grey;
		cursor: pointer;
	}
	&__menu-item_active {
		color: #ada074;
	}
}

.button {
	width: 180px;
	height: 45px;
	font-family: Lato;
	font-size: 16px;
	text-align: center;
	padding-top: 14px;
	cursor: pointer;

}

.parthers {
	min-height: 387px;
	background-image: url('../../img/bg-parthers.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% auto;
	//margin-top: 0;
	border-top: 1px solid rgb(243,243,243,1.0);

	&__header {
		margin: 100px auto;
		display: block;

	}

	&__title {
		font-family: Lato;
		font-size: 30px;
		color: #fff;
		text-transform: none;
		letter-spacing: 1.82px;
		font-weight: 300;
		&:after{
			content: none;
		}
	}

	&__logo {
		width: 645px;
		margin: 75px auto;
		//border: 1px solid green;
		min-height: 65px;
		display: flex;
	}

	&__logo-item {
		flex: 0 0 25.0%;
	}

	.logo-item1 {
		background-image: url('../../img/logo2.png');
		background-repeat: no-repeat;
		background-position: center;
	}
	.logo-item2 {
		background-image: url('../../img/archiq.png');
		background-repeat: no-repeat;
		background-position: center;
	}
	.logo-item3 {
		background-image: url('../../img/thomson.png');
		background-repeat: no-repeat;
		background-position: center;

	}
	.logo-item4 {
		background-image: url('../../img/alex.png');
		background-repeat: no-repeat;
		background-position: center;
	}
}

.header {
	min-height: 1080px;
	background-image: url('../../img/bg-header.png');
	background-position: 0 -2px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	//margin-top: 0;
	border-top: 1px solid rgb(0,0,0,1.0);

	&__logo {
		//border: 1px solid red;
		width: 200px;
		margin: 170px auto 0 auto;
	}

	&__header {
		margin: 160px auto 0 auto;
		color: #fff;
	}

	&__title {
		font-size: 34px;
		font-weight: 800;
	}

	&__title_first:after {
		content: none;
	}

	&__title_second {
		text-transform: none;
		font-size: 26px;
		font-weight: 400;
		padding: 0px 0px 50px 0px;
		&:after{
			content:'';
			position: absolute;
			width: 105px;
			bottom: 0;
			height: 1px;
			left: 50%;
			background-color: #fff;
			margin: 0px 0px 0px -53px;
		}
	}

	&__button {
		border: 1px solid #fff;
		margin: 220px auto 0 auto;
		color: #fff;
	}

	&__arrow {
		//border: 1px solid red;
		width: 17px;
		margin: 70px auto 0 auto;
	}

	&__menu {
		//border: 1px solid red;
		margin: 140px auto 0px auto;
		max-width: 420px;
		border-bottom: 1px solid rgb(241,241,241);
		padding-bottom: 22px;
	}
}

